.TrendingData{
    padding: 15px;
    border-bottom: 0.5px solid lightgray;
}

p{
    margin-bottom: 2px !important;
}

.smallHeader{
    /* margin-top: 16px !important; */
    font-size: small;
}
.Header{
    font-size: large;
    font-weight: bold;
}

P{
    margin: 0px;
}