



.homeContainer{
    display: flex;
    /* flex-direction: column; */
    width: auto;
    /* height: 100%; */

   
}


.left-container{
    width: 25%;
    /* border: 1px solid black; */
    /* background-color: pink ; */
}

.center-container{
    width: 50%;
    border-left: 0.5px solid lightblue;
    border-right: 0.5px solid lightblue;
    /* border: 1px solid black; */
    /* background-color: lightblue ; */
    
}

.right-container{
    width: 35%;
    /* border: 1px solid black; */
    /* background-color: lightgreen ; */
    
}